@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #050505;
  color: #eeeeee;
  padding: 0;
  margin: 0;
}

picture {
  display: inline-block;
  height: 100%;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
}

.spare-space {
  height: 90px;
}

header,
.description {
  z-index: 1;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #050505;
  text-decoration: none;
  background-color: #eeeeee;
  font-size: 22px;
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 10px;
}

.btn img {
  width: 15%;
  height: 15%;
}

#spliter div {
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 100%;
  height: auto;
  position: relative;
}

#header-video {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
}

.title {
  padding: 15px;
  width: 90%;
  background-color: #050505;
  z-index: 1;
}

.title h1 {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.title p {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.header-btn {
  width: 230px;
  margin-bottom: 35px;
}

#description {
  position: relative;
  overflow: hidden;
  height: 650px;
  width: 100%;
}

#description {
  background: url(./assets/stylo-maquette-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  z-index: 1;
  /* transform: rotate(1.4deg); */
}

.maquette-circle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  left: 10%;
  /* gap: 170px; */
}

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.maquette-circle input {
  display: none;
}

.maquette-circle label {
  /* display: flex; */
  /* display: inline-block; */
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255, 0.7);
  border: 6px solid rgb(130, 130, 130, 0.8);
  /* margin-bottom: 170px; */
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 575px;
  left: 150px;
}

.card {
  opacity: 0;
  display: flex;
  align-items: flex-start;
  /* position: absolute;
  left: 100px; */
  flex-direction: column;
  overflow: hidden;
  color: #050505;
  box-shadow: 5px 5px 5px #050505;
  background-color: #eeeeee;
  width: 220px;
  height: 180px;
  border-radius: 30px;
  padding-bottom: 5px;
  margin: 0px 0px 10px 10px;
}

.card img {
  opacity: 0;
  height: 60px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  opacity: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 0 15px;
}

.card p {
  opacity: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 0 10px 0 15px;
}

/* .card {
  display: none;
} */

/* #card-1 {
  position: absolute;
  top: -40px;
}

#card-2 {
  position: absolute;
  top: 170px;
}

#card-3 {
  position: absolute;
  top: 380px;
} */

input[type="checkbox"]:checked ~ .card {
  opacity: 100;
}

input[type="checkbox"]:checked ~ .card img {
  opacity: 100;
}

input[type="checkbox"]:checked ~ .card h2 {
  opacity: 100;
}

input[type="checkbox"]:checked ~ .card p {
  opacity: 100;
}

.mobile {
  position: fixed;
  bottom: 10px;
  z-index: 0;
  background-color: #050505;
  width: 280px;
  padding: 15px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

nav img {
  width: 35%;
  height: 80%;
}

.nav-btn {
  width: 150px;
}

.nav-btn a {
  font-size: 14px;
}

#spliter {
  display: flex;
  flex-direction: column;
}

#spliter img {
  z-index: -1;
}

#spliter div:nth-child(1) {
  height: 200px;
}

#spliter div:nth-child(1) img {
  position: relative;
  width: 100%;
}

#spliter div:nth-child(2) {
  padding: 1em 2em;
}

#spliter div:nth-child(3) {
  height: 225px;
}

#spliter div:nth-child(3) img {
  position: relative;
  width: 100%;
}

#spliter div:nth-child(4) {
  height: 250px;
}

#spliter div:nth-child(4) img {
  position: relative;
  width: 100%;
}

#spliter div:nth-child(5) {
  height: 160px;
}

#spliter div:nth-child(5) img {
  position: relative;
  width: 100%;
}

#steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-text {
  padding: 30px 30px;
}

.step-text h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.step-text p {
  font-size: 15px;
}

.step-text img {
  width: 39px;
  height: 39px;
  vertical-align: middle;
  margin: 0 8px 0 0;
}

.step-img {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.step-img img {
  width: 100%;
  z-index: -1;
}

/* #step-1 .step-img {
  background-image: url(./assets/step-1.png);
  background-size: cover;
}

#step-2 .step-img {
  background-image: url(./assets/step-2.png);
  background-size: 140%;
  background-position: 0% 60%;
} */

#step-2 .step-img img {
  width: 100%;
  transform: scale(1.5);
  position: relative;
  top: -10%;
  right: -15%;
}

#step-3 .step-img img {
  width: 100%;
  transform: scale(1.2);
  position: relative;
  top: 10%;
}

#step-2 .step-text {
  text-align: end;
}

#step-2 .step-text img {
  margin: 0 0 0 8px;
}

/* #step-3 .step-img {
  background-image: url(./assets/step-3.jpg);
  background-size: cover;
} */

.steps-btn {
  width: 270px;
  margin: 30px 0;
}

.btn span {
  font-weight: bold;
}

#reviews {
  height: 890px;
  background-image: url(./assets/reviews.jpg);
  background-position: 53% 10%;
  background-size: 500%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  padding: 40px 0;
  color: #050505;
}

#reviews > div {
  background-color: #eeeeee;
  border-radius: 50px;
  width: 280px;
  height: 250px;
  padding: 15px 20px;
}

#reviews > div > p {
  font-size: 16px;
  font-weight: 700;
}

.profil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.profil h4,
p {
  margin: 5px 0;
}

#reviews img {
  width: 92px;
}

footer {
  background-color: #eeeeee;
  color: #050505;
  padding: 20px 10px;
}

footer form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .btn {
  background-color: #050505;
  color: #eeeeee;
}

footer .none {
  display: none;
}

footer label {
  font-size: 20px;
  font-weight: 700;
}

footer input[type="email"] {
  border: 3px solid #050505;
  border-radius: 15px;
  width: 170px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 700;
  padding-left: 5px;
}

footer input[type="submit"] {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 700;
  border: 0px;
}

footer input[type="submit"]:hover {
  cursor: pointer;
}

.reduction {
  background-color: #050505;
  color: #eeeeee;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px 0;
}

.RGPD {
  font-size: 10px;
}

.links p {
  padding: 0 30px;
}

#icones-reseaux {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

#icones-reseaux img {
  width: 60px;
  height: 60px;
}

.flaticon {
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #050505;
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
  color: #050505;
  font-weight: 900;
}

footer a:visited {
  text-decoration: none;
  color: #050505;
  font-weight: 700;
}

/*///////////////////////Responsive/////////////////////////////*/

@media (min-width: 375px) {
  .maquette-circle {
    left: 16%;
  }

  .mobile {
    width: 320px;
  }

  footer input[type="email"] {
    width: 200px;
  }

  footer input[type="submit"] {
    font-size: 15px;
  }

  #spliter div:nth-child(1) {
    height: 200px;
  }

  #spliter div:nth-child(1) img {
    position: relative;
    width: 100%;
    top: -20%;
  }

  #spliter div:nth-child(3) {
    height: 250px;
  }

  #spliter div:nth-child(3) img {
    position: relative;
    width: 100%;
    top: -15%;
  }

  #spliter div:nth-child(4) {
    height: 250px;
  }

  #spliter div:nth-child(4) img {
    position: relative;
    width: 100%;
    top: -50%;
  }

  #spliter div:nth-child(5) {
    height: 225px;
  }

  #spliter div:nth-child(5) img {
    position: relative;
    width: 100%;
  }

  #step-2 .step-img img {
    width: 100%;
    transform: scale(1.2);
    position: relative;
    top: -25%;
    right: -10%;
  }
}

@media (min-width: 425px) {
  .maquette-circle {
    left: 20%;
  }

  #step-2 .step-img img {
    width: 100%;
    position: relative;
    transform: scale(1);
    top: -40%;
    right: 0%;
  }
}

@media (min-width: 768px) {
  .mobile {
    width: 80%;
    height: 70px;
    z-index: 1;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    padding: 5px 25px;
    border-radius: 40px;
  }

  nav > img {
    width: 150px;
    height: 55px;
    padding-top: 10px;
  }

  #description {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 28em;
    z-index: 0;
  }

  #description {
    background-image: url(./assets/Stylo-maquette2.png);
    background-size: contain;
    background-position: center;
    transform: none;
  }

  .title {
    position: absolute;
    top: 0px;
    padding: 120px 0 70px 50px;
    width: 90%;
    background: none;
  }

  .maquette-circle {
    flex-direction: row;
    top: 5rem;
    left: 1rem;
  }

  .check {
    flex-direction: column;
    gap: 3rem;
  }

  .spliter-text {
    padding: 2rem 8rem !important;
  }

  #spliter {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #spliter div:nth-child(1) {
    width: 100%;
    height: 279px;
  }

  #spliter div:nth-child(1) img {
    position: relative;
    top: -60%;
  }

  #spliter div:nth-child(2) {
    width: 100%;
  }

  #spliter div:nth-child(3) {
    width: 50%;
    height: 280px;
  }

  #spliter div:nth-child(3) img {
    position: relative;
    width: 100%;
    top: 0%;
  }

  #spliter div:nth-child(4) {
    width: 50%;
    height: 280px;
  }

  #spliter div:nth-child(4) img {
    position: relative;
    width: 100%;
    top: -30%;
  }

  #spliter div:nth-child(5) {
    width: 100%;
    height: 280px;
  }

  #spliter div:nth-child(5) img {
    position: relative;
    width: 100%;
    top: -20%;
  }

  /* #spliter div:nth-child(1) {
    background-position: center;
  }

  #spliter div:nth-child(3) {
    height: 20rem;
  } */

  .steps {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 80px;
  }

  .step-text {
    width: 20rem;
    padding: 0;
  }

  .step-img {
    width: 20rem;
    height: 15rem;
  }

  #steps div:nth-child(2) {
    flex-direction: row;
  }

  #step-2 .step-img img {
    width: 100%;
    position: relative;
    transform: scale(1);
    top: -15%;
    right: 0%;
  }

  #reviews {
    background-size: cover;
  }

  footer {
    display: flex;
    flex-direction: row;
  }

  footer form {
    width: 60%;
  }

  .spare-space {
    display: none;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .mobile {
    width: 80%;
    height: 70px;
    z-index: 1;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    padding: 10px 25px;
    border-radius: 40px;
  }

  nav > img {
    width: 200px;
    height: 75px;
    padding-top: 10px;
  }

  .video {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  /* #header-video {
    position: absolute;
    top: -100px;
  } */

  .title {
    position: absolute;
    top: 0px;
    padding: 120px 0 10px 100px;
    width: 90%;
    background: none;
  }

  .title h1 {
    font-size: 3rem;
    margin: 10px 0px;
  }

  .title p {
    font-size: 20px;
    width: 545px;
  }

  .header-btn {
    margin-top: 30px;
    width: 300px;
  }

  .header-btn .btn {
    background-color: #050505;
    color: #eeeeee;
  }

  .header-btn a {
    font-size: 30px;
  }

  .header-btn .btn img {
    content: url("./assets/fleche-R-white.png");
    width: 13%;
    height: 13%;
  }

  #description {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 680px;
  }

  #description {
    background-image: url(./assets/Stylo-maquette2.png);
    background-size: cover;
    background-position: center;
    transform: none;
    width: 100%;
    height: 37rem;
  }

  .check {
    flex-direction: column;

    gap: 2rem;
  }

  .maquette-circle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 95%;
    height: 100%;
    top: 7rem;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 280px;
    height: 300px;
  }

  .maquette-circle label {
    height: 40px;
    width: 40px;
  }

  .maquette-circle label:hover {
    cursor: pointer;
  }

  .card img {
    height: 100px;
  }

  .card h2 {
    font-size: 25px;
  }

  .card p {
    font-size: 18px;
  }

  #spliter {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .spliter-img {
    width: 100%;
  }

  #spliter div:nth-child(1) {
    width: 100%;
    height: 279px;
  }

  #spliter div:nth-child(1) img {
    position: relative;
    top: -80%;
  }

  #spliter div:nth-child(2) {
    width: 100%;
  }

  #spliter div:nth-child(3) {
    width: 50%;
    height: 370px;
  }

  #spliter div:nth-child(3) img {
    position: relative;
    width: 100%;
  }

  #spliter div:nth-child(4) {
    width: 50%;
    height: 370px;
  }

  #spliter div:nth-child(4) img {
    position: relative;
    width: 100%;
    top: -30%;
  }

  #spliter div:nth-child(5) {
    width: 100%;
    height: 350px;
  }

  #spliter div:nth-child(5) img {
    position: relative;
    width: 100%;
    top: -20%;
  }
  /* 
  #spliter div:nth-child(2) {
    padding: 0;
  }

  #spliter div:nth-child(3) {
    background-image: url(./assets/Spliter-4.jpg);
  }

  #spliter div:nth-child(4) {
    background-image: url(./assets/Spliter-2.jpg);
    background-position: 50% 35%;
  }

  #spliter div:nth-child(5) {
    background-image: url(./assets/Spliter-3.jpg);
    background-position: center;
  } */

  .spliter-text p {
    font-size: 20px;
    line-height: 30px;
  }

  #steps {
    margin: 60px;
  }

  .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    width: 100%;
    padding-bottom: 80px;
  }

  .step-text {
    width: 780px;
  }

  .step-text h3 {
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .step-text p {
    font-size: 1.2rem;
  }

  .step-img {
    width: 30rem;
    height: 20rem;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  #step-1,
  #step-3 {
    flex-direction: row-reverse;
  }

  #step-2 h3 {
    justify-content: flex-end;
  }

  #step-2 .step-img img {
    width: 100%;
    position: relative;
    transform: scale(1.4);
    top: 0%;
    right: -10%;
  }

  #step-3 .step-img img {
    width: 100%;
    position: relative;
    transform: scale(2);
    top: 0%;
    right: 10%;
  }

  .steps-btn {
    width: 460px;
  }

  .steps-btn a {
    font-size: 38px;
  }

  .steps-btn img {
    width: 12%;
    height: 12%;
  }

  #reviews {
    height: auto;
    background-size: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #reviews > div {
    width: 400px;
    height: 300px;
  }

  #reviews > div > p {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
  }

  #reviews img {
    width: 150px;
  }

  .profil h4 {
    font-size: 2rem;
    font-weight: 600;
  }

  .profil p {
    font-size: 20px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
  }

  footer form {
    width: 600px;
  }

  footer form div {
    justify-content: flex-start;
    gap: 20px;
    width: 570px;
  }

  footer input[type="email"] {
    width: 360px;
    height: 42px;
    padding: 10px;
    font-size: 15px;
  }

  footer input[type="submit"] {
    font-size: 25px;
  }

  footer input[type="submit"]:hover {
    cursor: pointer;
  }

  .moins-10 {
    font-size: 25px;
  }

  .RGPD {
    font-size: 12px;
  }

  .links {
    width: 500px;
  }

  .links p:nth-child(4) {
    padding-top: 80px;
  }

  .spare-space {
    display: none;
  }
}

@media (min-width: 1440px) {
  .video {
    height: 35rem;
  }

  .maquette-circle {
    top: 3rem;
  }

  .card {
    width: 22rem;
    height: 20rem;
  }

  .card img {
    height: 140px;
    margin-bottom: 1rem;
  }

  #spliter {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  #spliter div {
    overflow: hidden;
  }

  .spliter-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #spliter div:nth-child(1) {
    width: 444px;
    height: 370px;
    background-position: left;
  }

  #spliter div:nth-child(1) img {
    width: 150%;
    position: relative;
    top: 0%;
  }

  #spliter div:nth-child(2) {
    max-width: 400px;
    padding: 0 !important;
  }

  #spliter div:nth-child(3) {
    width: 40%;
    height: 370px;
  }

  #spliter div:nth-child(3) img {
    position: relative;
    width: 100%;
    top: -10%;
  }

  #spliter div:nth-child(4) {
    width: 50%;
    height: 388px;
  }

  #spliter div:nth-child(4) img {
    position: relative;
    width: 100%;
    top: -50%;
  }

  #spliter div:nth-child(5) {
    width: 50%;
    height: 388px;
  }

  #spliter div:nth-child(5) img {
    position: relative;
    width: 100%;
    top: 0%;
  }

  #step-2 .step-img img {
    width: 100%;
    position: relative;
    transform: scale(1.2);
    top: -30%;
    right: -10%;
  }

  #step-3 .step-img img {
    width: 100%;
    position: relative;
    transform: scale(1.2);
    top: 0%;
    right: 0%;
  }

  #reviews {
    flex-direction: row;
    padding: 50px 30px;
  }
  #reviews > div {
    width: 25rem;
    height: 20rem;
  }
}

@media (min-width: 1070px) {
  #description {
    background-position: 50% 40%;
  }
}
